.weather-app__container {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
  height: 500px;
  margin: 20px auto;
  background: #fbfbfb;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 3px;
  padding: 30px;
}

.weather-app__searchbar {
  display: flex;
  border: 2px solid #e3adff;
}

.weather-app__textbox {
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  font-family: "Poppins";
  text-transform: uppercase;
  flex: 3;
  letter-spacing: 1px;
  color: #777b8c;
}

.weather-app__button {
  flex: 1;
  background-color: #e3adff;
  padding: 8px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Poppins";
  letter-spacing: 1px;
  border: 0;
}

.location__container {
  border-top: solid 3px #c8c8e2;
  border-bottom: solid 3px #c8c8e2;
  padding: 20px 0;
  margin: 30px 0 10px;
}

.location__city {
  color: #777b8c;
  font-size: 70px;
  line-height: 70px;
}

.location__country {
  font-size: 30px;
  color: #777b8c;
  line-height: 30px;
}

.location__lnglat {
  color: #777b8c;
  margin-top: 20px;
}

.weather__description {
  color: #b2b2d0;
}

.weather__temperature-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.weather__temperature {
  color: #9edafc;
  font-size: 80px;
  line-height: 80px;
}

.weather__celsius {
  font-size: 30px;
  color: #9edafc;
}
